.admin-screen {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.sidebar-right {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: end;
    top: 0;
    right: 0;
    bottom: 50px;

    width: 400px;
    background-color: #242424;
}

.sidebar-right .sidebar__map-container {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4b;
    padding: 20px 0 20px 0;

}

.bottombar {
    position: fixed;
    left: 0;

    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #242424;
}
