.wall-screen {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.wall-screen .wall-screen__map-container {
    display: flex;
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.wall-screen img {
    width: 100%;
    z-index: 1;
    position: fixed;
}